// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat.define-palette(mat.$indigo-palette);
$client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-theme: mat.define-light-theme(
  (
    color: (
      primary: $client-primary,
      accent: $client-accent,
      warn: $client-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-theme);

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.logo {
  font-size: 24px;
  font-weight: 600;

  @media (max-width: 650px) {
    font-size: 18px;
  }

  @media (max-width: 500px) {
    font-size: 15px;
  }
  @media (max-width: 370px) {
    font-size: 12px;
  }
}
html,
body {
  height: 100%;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  // padding: 0 10px;
}

.title {
  font-size: 24px;
  font-weight: 500;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url("./assets/bac2.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.reg-block {
  text-align: center;
  width: 400px;
  margin: 80px auto;
  background-color: #1b222e;
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

  h1 {
    margin: 10px 0 40px;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }

  .input {
    padding: 14px;
    margin: 8px 0;
    font-size: 15px;
    background-color: #1f2534;
    color: #fff;
    width: 300px;
    &:focus {
      border-color: rgb(231, 200, 60);
      background-color: #1f2534;
      color: #fff;
    }
  }

  button {
    width: 100%;
    padding: 12px 18px;
    margin: 30px 0;
    font-size: 20px;
    color: #fff;
    background-color: rgb(28, 113, 128);
    border-radius: 4px;
    font-weight: bold;
    transition: 0.5s;
    &:hover {
      color: rgb(255, 255, 255);
      background-color: rgb(50, 212, 91);
      transition: 0.5s;
      font-weight: bold;
    }
  }

  .sign-in {
    color: #fff;
    margin: 20px 0 0;
    font-size: 15px;
    transition: 0.5s;
    a {
      font-size: 20px;
      color: #61528b;
      margin-left: 4px;
      &:hover {
        color: rgb(50, 212, 91);
        transition: 0.5s;
      }
    }
  }

  @media (max-width: 500px) {
    width: 250px;
    padding: 40px 8px;
    .input {
      padding: 8px;
      margin: 6px 0;
      font-size: 14px;
    }
    button {
      width: 100%;
      padding: 10px 12px;
      margin: 20px 0;
      font-size: 15px;
    }
  }
}

// DRAGULA

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.bac {
  background: url("./assets/bac2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  width: 100%;
}

.correct,
.error {
  font-size: 10px;
}

.correct {
  color: rgb(50, 212, 91);
}

.error {
  color: rgb(255, 110, 110);
}
