<div class="boards-card-wrapper">
    <div class="board-card" >
        <h3>{{boards?.boardName}}</h3>
        <p>{{boards?.boardDescription}}</p>
        <div class="material-icons dashboard">dashboard</div>
    </div>
    <div *ngIf="boards.length === 0"> No boards...</div>
</div>