.boards-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.board-card {
    width: 330px;
    height: 220px;
    margin: 21px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 7px 2px rgba(34, 60, 80, 0.2);

    h3 {
        display: inline-block;
        font-weight: 500;
        font-size: 20px;
        padding: 5px 40px 0 0;
        border-bottom: 2px solid rgb(11, 126, 141);
    }

    p {
        font-style: italic;
        color: #919191;
    }

    .dashboard {
        width: 100%;
        min-height: 100%;
        margin: auto;
        font-size: 55px;
        color: #919191;
        text-align: center;
    }
}

.board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}