.column {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  background-color: #0e373a93;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.308);
  min-height: 450px;
  max-height: 450px;
  width: 355px;
  padding: 23px;

  overflow-y: scroll;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #53afb6;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #adadad8e;
    border-radius: 100px;
  }
}

.column-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 20px;
    font-weight: 600;
  }
}

.columns-wrapper {
  display: flex;
}

.delete {
  color: #fff;
  background-color: rgb(226, 101, 101);
  padding: 4px;
}

.add-card {
  padding: 12px;
  background-color: rgb(101, 158, 149);
  color: #fff;
  font-size: 15px;
  width: 100%;
  margin-top: 18px;
}
