<div class="column" id="{{columns._id}}">
  <div class="column-header">
    <div class="button-column">
      <h3>{{columns.columnName}}</h3>
    </div>
    <div>
      <button class="material-icons delete" (click)="onDeleteColumn()">
        close
      </button>
    </div>
  </div>
  <button (click)="showOpenForm()" class="add-card">Add task</button>
  <ng-content></ng-content>
</div>
