.comment-body {
  background-color: #fff;
  padding: 10px;
  color: #000;
  margin: 8px 0;
}

.email {
  display: flex;
  justify-content: flex-end;
  color: rgb(165, 165, 165);
  font-size: 12px;
  font-style: italic;
}
