<div class="comment-body">
  <div class="comment" id="{{comments._id}}">
    <div class="email">
      {{comments.email}}
    </div>
    <h4>{{comments.commentText}}</h4>
  </div>
  <ng-content></ng-content>
</div>
