<div class="container">
  <div class="board-section">
    <form
      class="add-column-form"
      [formGroup]="columnForm"
      (ngSubmit)="onAddColumn()"
    >
      <div class="title">Project name: {{board?.boardName}}</div>
      <div>
        <input placeholder="Title of column" formControlName="columnName" />
        <button>
          Add column
        </button>
      </div>
    </form>

    <div class="columns-card-wrapper">
      <ng-container *ngIf="columns | async as columnsData">
        <ng-container *ngFor="let column of columnsData">
          <div>
            <column-list
              [columns]="column"
              (openForm)="openForm(column._id)"
              (deleteColumn)="onDeleteColumn(column._id)"
              id="{{column._id}}"
            >
              <div dragula="CARDS" id="{{column._id}}">
                <div class="cards">*</div>
                <ng-container *ngIf="cards | async as cardsData">
                  <ng-container *ngFor="let card of cardsData">
                    <div *ngIf="column._id === card.column">
                      <card-list
                        [cards]="card"
                        (deleteCard)="onDeleteCard(card._id)"
                        (showComment)="showComment(card._id)"
                        id="{{card._id}}"
                      >
                        <div class="comment-wrap">
                          <div *ngFor="let comment of comments">
                            <comments-list
                              *ngIf="card._id === comment.card"
                              [comments]="comment"
                            >
                            </comments-list>
                          </div>
                          <form
                            [formGroup]="commentForm"
                            (ngSubmit)="onAddComment(card._id)"
                            class="send-form"
                          >
                            <div class="comment-f">
                              <textarea
                                placeholder="Your comment..."
                                formControlName="commentText"
                              ></textarea>
                              <button class="material-icons send-comment">
                                send
                              </button>
                            </div>
                          </form>
                        </div>
                      </card-list>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </column-list>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <form
    *ngIf="open === true"
    class="form-card"
    [formGroup]="cardForm"
    (ngSubmit)="onAddCard()"
  >
    <div class="form-body-card">
      <h3>CREATE NEW TASK</h3>
      <input placeholder="" formControlName="cardText" />
      <button>
        OK
      </button>
      <div (click)="closeForm()">Back</div>
    </div>
  </form>
</div>
