.board-section {
  margin: 60px 0;
}

.add-column-form {
  background-color: rgba(28, 37, 43, 0.726);
  color: #fff;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

  input,
  button {
    font-size: 15px;
  }

  input {
    margin-right: 40px;
    background-color: rgba(28, 37, 43, 0);
    color: #fff;
  }

  button {
    font-size: 16px;
    background-color: #659e95;
    color: #fff;
    padding: 15px 25px;
  }
}

.form-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 38, 39, 0.514);
  z-index: 10;
}

.form-body-card {
  z-index: 11;
  position: absolute;
  width: 400px;
  top: 30%;
  left: 40%;
  background-color: #fff;
  padding: 60px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 25px;
    color: rgb(34, 60, 80);
    font-weight: 600;
    padding-bottom: 60px;
  }

  input {
    border: 1px solid rgba(18, 49, 61, 0.342);
    width: 100%;
    padding: 8px;
    margin-bottom: 60px;

  }

  button {
    width: 100%;
    background-color: #659E95;
    padding: 10px;
    color: #fff;
    font-size: 18px;
  }

  div {
    margin-top: 20px;
    color: rgb(41, 70, 92);
  }
}

.button-column {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  button {
    background-color: #fff;
    padding-left: 15px;
  }
}

// .delete-column {
//     display: flex;
//     justify-content: space-between;
//     align-self: flex-start;
//     background-color: #fff;
//     font-size: 30px;
//     color:rgb(163, 46, 46);
// }

// .comment {
//     width: 100%;
//     color: rgb(34, 156, 146);
//     text-align: center;

// }

.columns-card-wrapper {
  display: flex;
  overflow-x: scroll;

  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #414141;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #2f58688e;
    border-radius: 100px;
  }
}

.cards {
  min-height: 15px;
  width: 290px;
  visibility: hidden;
}

.comment-wrap {
  background-color: #659e95;
  padding: 15px 10px;
  border: 1px solid #fff;
  border-top: none;
  box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.2) inset;
}

textarea {
  resize: none;
  padding: 10px;
  width: 100%;
}

.send-comment {
  padding: 10px;
  color: rgb(32, 55, 73);
  background-color: #fff;
}

.send-form {
  margin-top: 20px;
}

.comment-f {
  padding: 8px 0;
  background-color: #fff;
}