.header {
  background: rgb(36, 144, 151);
  font-size: 16px;
  position: sticky;
  top: 0;
  z-index: 20;
  padding: 0 10px;
}

.logo {
  color: #fff;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0px;
  color: #fff;
}

.header-nav {
  text-align: center;
  li {
    margin-right: 30px;
    font-size: 16px;
    letter-spacing: 1px;

    @media (max-width: 650px) {
      margin-right: 6px;
      letter-spacing: 0px;
    }
    @media (max-width: 430px) {
      margin-right: 4px;
      font-size: 12px;
      letter-spacing: 0px;
    }

    a {
      color: #fff;
    }
  }
}

.exit {
  padding: 10px 40px;
  margin-left: 70px;
  background-color: #1b222e;
  color: #fff;
  font-size: 14px;
  border: 1px solid #2a3444;

  @media (max-width: 650px) {
    margin-left: 35px;
    font-size: 12px;
    padding: 7px 25px;
  }

  @media (max-width: 400px) {
    margin-left: 15px;
    font-size: 12px;
    padding: 6px 18px;
  }
}

.account {
  background: rgb(243, 243, 243);
  border-radius: 50%;
  height: 3em;
  object-fit: cover;
  width: 3em;
  border: 3px solid #2a344493;
  @media (max-width: 650px) {
    height: 2em;
    width: 2em;
  }
}
