<div class="header">
  <nav class="container header-flex">
    <a routerLink="/boards">
      <div class="logo" routerLink="/boards">
        SCOPI BOARDS
      </div>
    </a>
    <!-- <ul class='header-nav header-flex'>
            <li><a routerLink="/boards">Home</a></li>
            <li><a routerLink="store">Boards</a></li>
        </ul> -->
    <div class="header-flex">
      <button class="exit" (click)="exit($event)">EXIT</button>
    </div>
  </nav>
</div>

<div class="bac">
  <router-outlet></router-outlet>
</div>
