<div class="card-body">
  <div class="card" id="{{cards._id}}">
    <div class="email">
      {{cards.email}}
    </div>
    <h4>{{cards.cardText}}</h4>
    <button class="material-icons delete" (click)="onDeleteCard()">
      delete
    </button>
  </div>
  <ng-content></ng-content>
</div>
