.card-body {
  margin: 15px 0;
  h4 {
    font-weight: 300;
    font-size: 18px;
    color: rgb(34, 60, 80);
  }
}

.email {
  color: gray;
  font-weight: 200;
  font-style: italic;
  display: flex;
  justify-content: right;
}

.card {
  background-color: #fff;
  margin: 25px 0 0;
  box-shadow: 0px 2px 2px 2px rgba(34, 60, 80, 0.2);
  padding: 15px;
}

.delete {
  background-color: #fff;
  color: rgb(156, 156, 156);
  font-size: 20px;
}
