<!-- <div class="container auth-page"> -->
<div class="reg-block">
  <!-- ERROR  -->
  <h1 class="logo">SIGN UP</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset>
      <fieldset>
        <input
          class="input"
          type="text"
          placeholder="Username"
          formControlName="username"
        />
      </fieldset>

      <div
        class="error"
        *ngIf=" form.get('username')?.invalid &&  form.get('username')?.touched"
      >
        Your username must be longer then 4 symbols.
      </div>

      <div
        class="correct"
        *ngIf=" form.get('email')?.valid &&  form.get('email')?.touched"
      >
        Correct.
      </div>
      <fieldset>
        <input
          class="input"
          type="email"
          placeholder="Email"
          formControlName="email"
        />
      </fieldset>

      <div
        class="error"
        *ngIf=" form.get('email')?.invalid &&  form.get('email')?.touched"
      >
        should be correct. For example: retro.board@gmail.com.
      </div>

      <div
        class="correct"
        *ngIf=" form.get('email')?.valid &&  form.get('email')?.touched"
      >
        Correct.
      </div>

      <fieldset>
        <input
          class="input"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </fieldset>
      <!-- <div class="error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">Your
                password must be longer then 7 symbols.
            </div>
            <div class="correct" *ngIf="form.get('password')?.valid && form.get('password')?.touched">Correct
            </div> -->
      <fieldset>
        <button type="submit" [disabled]="isSubmitting$ | async">
          Sign Up
        </button>
      </fieldset>
    </fieldset>
  </form>
</div>
<!-- </div> -->
