<div class="container" *ngIf="boards | async as boardsData">
  <div class="boardslist">
    <div class="board-header">
      <h2 class="title">All boards</h2>

      <form class="form" [formGroup]="postForm" (ngSubmit)="onAddBoard()">
        <div>
          <input
            type="text"
            formControlName="boardName"
            placeholder="Board title"
          />
        </div>

        <div>
          <input
            formControlName="boardDescription"
            placeholder="Board description"
          />
        </div>

        <div class="board-add">
          <div class="material-icons">add</div>
          <button type="submit">
            Add boards
          </button>
        </div>
      </form>
    </div>

    <div class="row">
      <app-board-list
        *ngFor="let board of boardsData"
        [boards]="board"
        [routerLink]="'/board/' +  board._id"
      >
      </app-board-list>
    </div>
  </div>
</div>
