<form class="form" [formGroup]="boardForm" (ngSubmit)="onAddBoard()">
    <div>
      <input type="text" formControlName="boardName" placeholder="Board title" />
    </div>
    <div>
      <input formControlName="boardDescription" placeholder="Board description" />
    </div>

    <div class="board-add">
      <div class="material-icons">add</div>
      <button type="submit">Add boards</button>
    </div>
  </form>