.form {
    display: flex;
    align-items: center;

    input {
        border-bottom: 1px solid #919191;
        margin-right: 20px;
        font-size: 15px;
        padding-bottom: 10px;
    }
}

.board-add {
    display: flex;
    font-weight: lighter;
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(72, 177, 98);
    align-items: center;
    border-radius: 8px;

    div {
        font-size: 25px;
    }

    button {
        font-size: 16px;
        background-color: rgb(72, 177, 98);
        color: #fff;
        padding-left: 10px;
    }
}