.container {
  margin: 0 auto;
  padding: 20px;
  z-index: 15;
}

.bac-img {
  margin: 0 auto;
  padding: 20px;

  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-wrap {
  background-color: rgb(28, 113, 128);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: #fff;
  }
}

.auth-link {
  display: flex;
  align-items: center;
  div {
    margin-right: 20px;
  }

  a {
    font-size: 18px;
  }
  @media (max-width: 500px) {
    a {
      font-size: 14px;
    }
  }
}

// .log {
//     z-index: 15;
//     margin-left: 36%;
//     width: 400px;
//     background-color: #1b222e;
//     color: #fff;
//     padding: 30px;
//     font-size: 15px;
//     transition: 0.5s;
//     a {
//         font-size: 20px;
//         color: #61528b;
//         margin-left: 4px;
//     }
//     &:hover {
//         color: rgb(50, 212, 91);
//         transition: 0.5s;
//     }
// }
