<nav>
  <div class="nav-wrap">
    <h1 class="logo"><a routerLink="">SCOPI BOARDS</a></h1>
    <div class="auth-link">
      <div>
        <a routerLink="register">Sign Up</a>
      </div>
      <div>
        <a routerLink="login">Sign In</a>
      </div>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
