<div class="reg-block">
  <!-- ERROR  -->
  <h1 class="logo">SIGN IN</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    <fieldset>
      <fieldset>
        <input
          class="input"
          type="email"
          placeholder="Email"
          formControlName="email"
        />

        <div
          class="error"
          *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
        >
          Email should be correct. For example: retro.board@gmail.com.
        </div>

        <div
          class="correct"
          *ngIf="loginForm.get('email')?.valid && loginForm.get('email')?.touched "
        >
          Correct.
        </div>
      </fieldset>
      <fieldset>
        <input
          class="input"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <!-- <div class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Your
          password must be longer then 7 symbols.
        </div>
        <div class="correct" *ngIf="loginForm.get('password')?.valid && loginForm.get('password')?.touched">Correct
        </div> -->
      </fieldset>
      <fieldset>
        <button type="submit" [disabled]="!loginForm.valid">Sign In</button>
      </fieldset>
    </fieldset>
  </form>
</div>
